
.Header{
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 25px;
}
/* 게시판 목록 보여주는 테이블 */

/* 글 작성 버튼 */
.write_btn{
  border: none;
  background-color: #4AA8D8;
  cursor: pointer;
  padding: 10px 30px;
  color: white;
  margin: 0px auto;
  border-radius: 5px;
}
